@model HandleErrorInfo

@{
    ViewBag.Title = "Ошибка";
}

<div class="main-content">
    <div class="left-page-content"></div>
    <div class="right-page-content">
        <h1>Произошла ошибка при обработке вашего запроса</h1>
    </div>
</div>

