<?xml version="1.0"?>
<configuration>
    <!-- 20.05.11 Anton Kasterin [SMTP Configuration settings] -->
    <system.net>
        <mailSettings>
            <smtp>
                <network
                     host="mail.xn--80aeam3amfbublh.xn--p1ai"
                     port="25"
                     userName="no-reply@xn--80aeam3amfbublh.xn--p1ai"
                     password="P0pr0ha1" />
            </smtp>
        </mailSettings>
    </system.net>
	<appSettings/>
	<!-- 26.12.10 Anton Kasterin [Sql Site Map Provider connection string] -->
	<connectionStrings>
        <add name="SqlServerConnectionString" connectionString="server=mssql2.win.agava.net;uid=cnfddjk2_admin;pwd=Par0lMar0l;database=cnfddjk2_sharpCMS" providerName="System.Data.SqlClient"/>
        <add name="Entities" connectionString="metadata=res://*/Entities.csdl|res://*/Entities.ssdl|res://*/Entities.msl;provider=System.Data.SqlClient;provider connection string=&quot;server=mssql2.win.agava.net;uid=cnfddjk2_admin;pwd=Par0lMar0l;database=cnfddjk2_sharpCMS&quot;" providerName="System.Data.EntityClient"/>
		<!--<add name="SqlServerConnectionString" connectionString="Data Source=SAMSUNG\SQLEXPRESS;Initial Catalog=aspnetdb;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="Entities" connectionString="metadata=res://*/Entities.csdl|res://*/Entities.ssdl|res://*/Entities.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=SAMSUNG\SQLEXPRESS;Initial Catalog=aspnetdb;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>-->
	</connectionStrings>
	<system.web>
        <httpRuntime requestValidationMode="2.0"/>
        <compilation debug="true" targetFramework="4.0" />
        
        <!-- 20.02.11 Anton Kasterin [Authentithication parameters] -->
        <authentication mode="Forms">
            <forms cookieless="UseCookies" defaultUrl="~/" loginUrl="~/Login.aspx" name="SharpCMS_FormAuth"/>
        </authentication>
        
        <!-- 20.02.11 Anton Kasterin [Membership parameters] -->
        <membership defaultProvider="SharpCMS_MembershipProvider"
                    userIsOnlineTimeWindow="60">
            <providers>
                <add name="SharpCMS_MembershipProvider"
                     type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral,
                        PublicKeyToken=b03f5f7f11d50a3a"
                     connectionStringName="SqlServerConnectionString"
                     applicationName="/"
                     enablePasswordRetrieval="true"
                     enablePasswordReset="true"
                     requiresQuestionAndAnswer="false"
                     requiresUniqueEmail="true"
                     passwordFormat="Encrypted"
                     maxInvalidPasswordAttempts="20"
                     passwordAttemptWindow="10"
                     passwordStrengthRegularExpression="(?!^[0-9]*$)(?!^[a-zA-Z]*$)^([a-zA-Z0-9]{6,20})$"
                     minRequiredNonalphanumericCharacters="0"
                />
            </providers>
        </membership>
        
        <!-- 20.02.11 Anton Kasterin [Roles parameters] -->
        <roleManager enabled="true"
                     cacheRolesInCookie="true"
                     cookieName="SharpCMS_Roles"
                     defaultProvider="SharpCMS_RoleProvider">
            <providers>
                <add connectionStringName="SqlServerConnectionString"
                     applicationName="/"
                     name="SharpCMS_RoleProvider"
                     type="System.Web.Security.SqlRoleProvider, System.Web, Version=2.0.0.0, Culture=neutral,
                        PublicKeyToken=b03f5f7f11d50a3a" />
            </providers>
        </roleManager>

        <machineKey
            validationKey="21F0F891A36D12A278DB4FD8699C164EDBDA1FF9713A546C133CBE26DB026C5A5A10C884EF312DE5123959C8D96638423F8A6A3AE77F39E2B7A2596749B8C275"
            decryptionKey="D868653A8B663BD752B01277E0465C0788D5BB9A5A9A405E"
            validation="SHA1"
        />
        
		<!-- 26.12.10 Anton Kasterin [Sql Site Map Provider] -->
		<siteMap enabled="true" defaultProvider="AspNetSqlSiteMapProvider">
			<providers>
				<add name="AspNetSqlSiteMapProvider" type="SqlSiteMapProvider" securityTrimmingEnabled="true" connectionStringName="SiteMapConnectionString" sqlCacheDependency="CommandNotification"/>
			</providers>
		</siteMap>
        
		<!-- 26.12.10 Anton Kasterin [Sql Site Map Provider. Cache Dependency] -->
		<caching>
			<sqlCacheDependency enabled="true"/>
		</caching>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" validateRequest="false"/>
        <!--<httpModules>
            <add name="QueryStringModule" type="SharpCMS.UI.QueryString.QueryStringModule, SharpCMS.UI" />
        </httpModules>-->
    </system.web>
    
    <!-- 31.03.11 Anton Kasterin [QueryStringModule] -->
    <system.webServer>
        <modules>
            <add name="QueryStringModule" type="SharpCMS.UI.QueryString.QueryStringModule, SharpCMS.UI" />
        </modules>
    </system.webServer>
</configuration>
