<div class="left-page-content">
</div>
<div class="right-page-content">
	<div class="form-content">
		<h1>Заявка на получение личной книжки волонтёра</h1>
		<p>Ваша заявка отправлена. Специалисты ЦВПВМ свяжутся с Вами в ближайшее время.</p>
        <p>Вернуться на <a href='@Url.Action("Index", "Home")'>главную страницу</a> сайта.</p>
	</div>
</div>